/* FUENTE IMPORTADA DE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* SECCIÓN FORMULARIO */

body{
    font-family: "Epilogue", sans-serif;
    font-size: large;
}

.encontraste_mascota_content {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #aaaaaa;
    border-radius: 15px;
}

.titulo_desc{
    display: block;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

.encontraste_mascota_content p{
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_img_form{
    display: flex;
    justify-content: center;
}

.contenedor_img_form img{
    margin-bottom: 10px;
}

#formulario{
    display:flex;
    align-items: flex-start;
    width: auto;
    margin-bottom: 20px;
}

.imagenes_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

#chico_y_perrosilla{
    margin-right: 20px;
}

#chica_y_gato, #chico_y_perro {
    margin-left: 75px;
    margin-bottom: 20px;
}

#formulario button{
    align-items: center;
    width: 100%;
}

#formulario label{
    font-size: 20px;
    font-style: initial;
}

#formulario input, select, textarea{
    height: 20px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color:#6c5e5e;
    font-weight:normal;
}

#formulario textarea{
  padding: 5px;
  font-family: "Epilogue", sans-serif;  
}

#formulario li{
    margin-bottom: 20px;
}

#imagenes img{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: start;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-formulario{
    font-size: 25px;
    margin-left: 2%;
    border-radius: 15px;
    width: 75%;
    margin: 10px;
}

#boton-formulario:hover{
    background-color: #41814f7e;
    border-radius: 15px;
    color: black;
    transform: scale(1.05);
}


/* SECCIÓN HOGARES DE TRÁNSITO */
.centros_animales{
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.centros_animales a{
    font-size: 20px;
}

.centros_animales h2{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
}

.centros_animales p{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.info_centro_animales1{
    background-color: rgba(168, 168, 125, 0.459);
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.info_centro_animales1 img, .info_centro_animales2 img{
    border-radius: 15px;
}

.info_centro_animales2{
    padding: 10px;
    margin-top: 50px;
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.info_centro_animales1 h2, .info_centro_animales1 h3, .info_centro_animales1 p{
    margin-right: 30px;
    text-align: start;
}

.info_centro_animales2 h2, .info_centro_animales2 h3, .info_centro_animales2 p{
    margin-left: 30px;
    text-align: start;
}

.info_centro_animales1 h2, .info_centro_animales2 h2{
    font-size: 25px;
    font-weight: bold;
}

.info_centro_animales1 h3, .info_centro_animales2 h3{
    font-size: 20px;
    font-style: italic;
}

/* SLIDER */
.slider-frame {
    height: auto;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}