.informacion {
    border: 1px solid #c6bfbf;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
}
 

.informacion h2 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.informacion p {
    font-size: 18px;
    margin-bottom: 3px;
}

.informacion #formulario{
    margin-top:10px;
}

.informacion label{
    font-size: 14px;
}

.informacion button {
    background-color: #0c73e0;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
