
.rating {
    display: flex;
    justify-content: space-between;
}

.card{
    border: solid 2px #628695;
    padding: 10px;
    
}

.card img {
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    gap: 2rem;
}

.estrella {
    font-size: 23px;
    color: #d4c218;
    transition: color 0.3s;
}

@media (max-width:768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
}
