/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para la barra de navegación */

nav {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    margin: 0px;
    gap: 0.5rem;
}

.navbar {
    background-color: #333;
    width: 100%;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

.img-logo {
    max-width: 70px;
    margin-inline: 1rem;
}

.navegadorMenu{
    display: inline-flex;
    gap: 1rem;
}

h2 {
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
}

nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    height: fit-content;
    justify-content: center;
    font-size: 17px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: black;
    transform: scale(1.05);
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 1rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

@media (max-width:768px) {
    nav {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        margin-right: 2rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navegadorMenu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    nav a {
        margin: 16px 0;
    }

    .navegadorMenu.active{
        left: 0;
    }
}

/* Estilos para el contenido de la página */

.positionRelative {
    position: relative;
    z-index: 2;
}

.fontEpilogue {
    font-family: "Epilogue", sans-serif;
}

.contenido {
    padding: 30px;
}

.main {
    margin: 0 0 100vh 0;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
}

/*INICIO*/
#Inicio {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('../img/Fondo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Centra la imagen */
}

.Box_Grey {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 5vh;
    font-size: 5vh;
    border-radius: 5vh;
    margin: 1vh;
}

#Buscar {
    color: #ddd;
}

#Comenzar_Ya {
    color: #ddd;
    border: none;
    transition: 0.5s;
    padding: 3vh;
    font-size: 3vh;
    border-radius: 3vh;
}

#Comenzar_Ya:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.1);
}

#Pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#Pasos h2 {
    margin-top: 3rem;
    padding-top: 4vh;
    font-weight: 500;
}

#Pasos img {
    height: 20%;
    width: 20%;
}

#Contenedor_Pasos {
    display: flex;
    /* Utiliza Flexbox */
    justify-content: center;
    /* Centra los elementos verticalmente */
    width: 100%;
}

#Contenedor_Pasos div {
    display: inline-block;
    color: #ddd;
    padding-right: 10vh;
    padding-left: 2vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2vh;
    background-color: #333;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    margin: 2vh;

}

#Contenedor_Pasos div p {
    margin: 5px;
    font-size: 2vh;
}

#Historias {
    overflow: hidden;
}

#Historias h2 {
    margin-top: 3rem;
    padding-top: 2vh;
    font-size: 4vh;
    text-align: center;
    font-weight: 500;
}

.contenedor1 {
    width: 100%;
}

#Historias h3 {
    padding: 2vh;
    font-size: 3vh;
}

#Historias p {
    padding: 1vh;
    margin-left: 1vh;
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: #000000;
}

#Historia_1 {
    background: #333;
    color: #ddd;
}

#Historia_2 {
    background: #a19e9e;
    color: #0a0a0a;
}

#Historia_3 {
    background: #0a0a0a;
    color: #a19e9e;
}

#Historia_4 {
    background: #ddd;
    color: #000000;
}

.contenido-slider img {
    width: 200px;
}

.contenido-slider div {
    width: 100%;
}

.contenido-slider h2 {
    font-weight: 200;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a {
    color: #fff;
    background: #463122;
    width: 100px;
    display: block;
    padding: 10px;
    margin-left: 2vh;
    text-align: center;
    border-radius: 3px;
    text-decoration: solid;

}

#Preguntas_Frecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#Preguntas_Frecuentes h2 {
    margin-top: 3rem;
    font-weight: 500;
    padding: 2vh;
    font-size: 4vh;
    text-align: center;
}

#Contenedor_Preguntas {
    padding: 0 20px 0 20px;
    max-width: 800px;
    width: 100%;
    padding-bottom: 2rem;
}

.Lista {
    list-style: none;
    padding-left: 40px;
    padding-right: 20px;
}

.Lista li {
    border-bottom: 1px solid #999999;
    margin-bottom: 15px;
}

.Lista li.active .Respuesta {
    max-height: 275px;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.Lista li.active .Pregunta {
    color: #808080;
    transition: color 0.5s ease;
}

.Lista .Respuesta {
    color: #090909;
    font-family: serif;
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.Lista .Signo {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 50%;
    z-index: 2;
}

.Lista .Signo:before,
.Lista .Signo:after {
    background: #000;
    height: 5px;
    position: absolute;
    width: 21px;
    transition: transform 500ms ease;
}

.Lista .Signo:after {
    transform-origin: center;
}

.Lista .Signo.Mas:after {
    transform: rotate(90deg);
}

.Lista .Signo.Mas:before {
    transform: rotate(180deg);
}

.Lista .Pregunta {
    color: #090909;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
}

@media(max-width: 1200px){
    #Historias {
        display: none;
    }
    #Contenedor_Pasos {
        flex-direction: column;
    }
}

/*PERDIDOS RECIENTEMENTE*/

.perdidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perdidosTitle {
    font-weight: 500;
}

.grillaPerdidos {
    padding: 1.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.grillaTarjeta {
    display: flex;
    gap: 1.1rem;
    background-color: #333;
    /*tambien, color a determinar*/
    border-radius: 15px;
    box-shadow: 2px 2px 18px;
}

.grillaImagen {
    border-radius: 50px;
    width: 18rem;
    max-width: 60%;
    padding: 1rem;
}

.grillaInfo {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    color: #FFFFFF;
}

@media (max-width: 1200px){
    .grillaPerdidos {
        grid-template-columns: 1fr 1fr;
    }

    .grillaTarjeta {
        gap: 0.5rem;
    }
}

@media (max-width: 600px){
    .grillaPerdidos {
        grid-template-columns: 1fr;
        gap: 1.2rem;
        padding: 0.5rem 0;
    }

    .grillaImagen {
        width: 12rem;
        padding: 0.5rem;
    }

    .grillaInfo {
        font-size: 0.9rem;
    }
    
}

/*FOOTER*/

.footer {
    position: fixed;
    z-index: 1;
    padding: 0 2rem;
    height: 100vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #f3f4f5;
}

.logoPetTracker {
    width: 8rem;
    margin-bottom: 0.5rem;
}

.footerTitle {
    font-size: 2rem;
    font-weight: 600;
}

.footerInfo {
    padding: 1rem 8rem;
    font-size: 1.1rem;
    text-align: center;
}

.footerContacto {
    display: flex;
    font-size: 1.5rem;
}

.footerMailTel {
    text-align: center;
}

.footerMail {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1rem;
}

.footerMail:hover {
    color: chocolate;
    /*color de prueba, CAMBIARLO*/
}

@media (max-width: 1100px) {
    #Pasos img {
        width: 40%;
        height: 40%;
    }
}


@media (max-width: 500px) {
    .footerInfo {
        padding: 1rem;
    }
    .footerContacto {
        font-size: 1rem;
    }
}