
.rating {
    display: flex;
    justify-content: space-between;
}

.card{
    border: solid 2px #628695;
    margin-right: 20px;
    
}

.card2{
    border: solid 2px #628695;
    margin-right: 20px;
}

.card3{
    border: solid 2px #628695;
    margin-right: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.estrella {
    font-size: 23px;
    color: #d4c218;
    transition: color 0.3s;
}

