/* Estilos básicos para la barra de navegación */
html{
    width: fit-content;
}

nav {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    margin: 0px;
}
.navbar {
    background-color: #333;
    width: 100%;
}
nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    height: fit-content;
    justify-content: center;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: black;
}

/* Estilos para el contenido de la página */
.content {
    padding: 20px;
}

.img-logo {
    max-width: 70px;
}
