{% extends 'base.html' %}

{% block title %}Mascotas perdidas{% endblock %}

{% block main %}

    <section data-aos="fade-up" data-aos-duration="1000" class="contenido" id="perdidos">
      <div class="perdidos">      
        <h2 class="perdidosTitle">Perdidos Recientemente</h2>
        <p >Una lista de mascotas perdidas recientemente.</p>
      </div>
      <div class="grillaPerdidos">
        {% for i in range(1, 10) %}
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="{{ url_for('static', filename='img/perdido'~ i ~'.jpeg') }}" />
            <div class="grillaInfo">
              <h3>Nombre:{{datos[i]["nombre"]}}</h3>
              <h3>Raza:{{datos[i]["raza"]}}</h3>
              <h3>Color:{{datos[i]["color"]}}</h3>
              <h3>Edad:{{datos[i]["tamanio"]}}</h3>
              <h3>Fecha de desaparición:{{datos[i]["fecha_perdido"]}}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
      </section>

{% endblock %}