<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Tracker</title>
    <link
      rel="shortcut icon"
      href="../static/img/logo-borderless.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/encontraste_mascota.css" />
    <!-- Enlace al archivo CSS -->
  </head>
  <body>
    <div class="navbar">
      <nav>
        <img
          src="../static/img/logo borderless.png"
          class="img-logo"
          alt="Logo"
        />
        <a href="index.html" onclick="mostrarContenido('inicio')">Inicio</a>
        <a href="#" onclick="mostrarContenido('mapa')">Mapa</a>
        <a href="#" onclick="mostrarContenido('perdidos')"
          >Perdidos Recientemente</a
        >
        <a
          href="encontraste_una_mascota.html"
          onclick="mostrarContenido('encontraste')"
          >¿Encontraste una Mascota?</a
        >
      </nav>
    </div>

    <div class="encontraste_mascota_content">
      <h1>¿Encontraste una mascota?</h1>
      <h3>
        Si encontraste una mascota sin dueño, acá podes subir información sobre
        ella para ingresarla a nuestra base de datos. ¡Nosotros nos encargaremos
        de ubicarla en el mapa y hacerte llegar información si su responsable la
        encuentra por este medio!
      </h3>
      <div id="formulario">
        <form action="formulario_enviado.html">
          <ul>
            <li>
              <label for="animal"
                >Indique si la mascota encontrada es un perro o un gato:</label
              >
              <select>
                <option value="none">-</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
              </select>
            </li>
            <li>
              <label for="edad"
                >Indique si el animal es cachorro o adulto:</label
              >
              <select>
                <option value="none">-</option>
                <option value="cachorro">Cachorro</option>
                <option value="adulto">Adulto</option>
              </select>
            </li>
            <li>
              <label for="raza">Raza de la mascota:</label>
              <input type="text" id="raza" name="raza_animal" />
            </li>
            <li>
              <label for="zona">Zona donde lo encontró:</label>
              <input type="text" id="zona" name="zona_mascota" />
            </li>
            <li>
              <label for="mail">Mail de contacto:</label>
              <input type="mail" id="mail" name="user_mail" />
            </li>
            <li>
              <label for="descripcion">Descripción de la mascota:</label>
              <textarea id="descripcion" name="descripcion"></textarea>
            </li>
          </ul>

          <button id="boton-formulario">Enviar datos</button>
        </form>
      </div>
      <br />
      <img
        src="../static/img/perro-y-gato.jpg"
        alt="Perro y Gato"
        width="500"
        height="300"
      />
    </div>

    <footer>
      <p>
        Contacto:
        <a href="mailto:PetTracker@gmail.com">PetTracker@gmail.com</a> |
        Teléfono: 0800-777-2354
      </p>
    </footer>

    <script src="script.js"></script>
    <!-- Enlace al archivo JavaScript -->
  </body>
</html>
