{% extends 'base.html' %}

{% block title %}Pet Tracker{% endblock %}

{% block cssad %}          
<!-- CDN Bootstrap Icons (estrella)-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename="css/map.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/reviews.css") }}">
{% endblock %}

{%block main%}

    <main class="main positionRelative fontEpilogue">
      <div class="content">
        <section id="inicio">
          <h2>Página de Inicio</h2>
          <p>
            Aplicar método de reutilización de código HTML por bloques para la
            navbar y footer.
          </p>
          <p>
            Somos una organización que Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <h3>Testimonios</h3>
          <div class="contenedor">
            <div class="card" style="width: 18rem;">
                <img class="img1" src="/static/img/gatitomc.jpeg" width="280" height="280">
                <div class="'card-body">
                    <p class="card-text">Gracias!</p>
                    <div class="rating">
                         <i class="bi bi-star-fill estrella"></i>
                         <i class="bi bi-star-fill estrella"></i>
                         <i class="bi bi-star-fill estrella"></i>
                         <i class="bi bi-star-fill estrella"></i>
                         <i class="bi bi-star-fill estrella"></i>
                    </div>
                </div>
            </div>
            <div class="card2" style="width: 18rem;">
                 <img class="img3" src="/static/img/perritomc.jpeg" width="280" height="280">
                 <div class="'card-body2">
                    <p class="card-text">Probando uno dos tres!</p>
                    <div class="rating">
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                    </div>
                </div>
            </div>
            <div class="card3" style="width: 18rem;">
                <img class="img2" src="/static/img/gatito2mc.jpeg" width="280" height="280">
                <div class="'card-body3">
                    <p class="card-text">Miau!</p>
                    <div class="rating">
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                        <i class="bi bi-star-fill estrella"></i>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section id="mapa" style="display: none">
          <h2>Mapa</h2>
          <!-- Filtro -->
          <div class="filtro">
            <label for="filtroColor">Color:</label>
            <select id="filtroColor">
              <option value="todos">Todos</option>
              <option value="negro">Negro</option>
              <option value="blanco">Blanco</option>
              <option value="marrón">Marrón</option>
              <option value="naranja">Naranja</option>
              <option value="manchas">Manchas</option>
            </select>
            <label for="filtroRaza">Raza:</label>
            <select id="filtroRaza">
              <option value="todos">Todos</option>
              <option value="labrador">Labrador</option>
              <option value="pastor_aleman">Pastor Alemán</option>
              <option value="siames">Siamés</option>
            </select>
            <label for="filtroEdad">Edad:</label>
            <select id="filtroEdad">
              <option value="todos">Todos</option>
              <option value="cachorro">Cachorro</option>
              <option value="adulto">Adulto</option>
            </select>
            <label for="filtroFecha">Fecha de Desaparición:</label>
            <input type="date" id="filtroFecha" />
          </div>

          <!-- Acá va la api -->
          <!-- Empieza backend -->
          <div id="Mapa"></div>
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
            <!-- Termina backend-->

        </section>

        <section id="perdidos" style="display: none">
          <h2>Perdidos Recientemente</h2>
          <p>Una lista de mascotas perdidas recientemente.</p>
          <div class="grillaPerdidos">
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatoguerra.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatopose.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perrolol.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatoestrella.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img
                class="grillaImagen"
                src="../static/img/perroanteojos.jpeg"
              />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perroflor.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatobaño.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatohuh.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perrochorro.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
          </div>
        </section>

        <section id="encontraste" style="display: none">
          <h2>¿Encontraste una Mascota?</h2>
          <p>Información sobre qué hacer si encuentras una mascota perdida.</p>
        </section>
      </div>
    </main>

{% endblock %}

