<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pet Tracker</title>
  <link rel="shortcut icon" href="static/img/logo-borderless.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="static/css/styles.css" />
  <!-- Enlace al archivo CSS -->
</head>

<body>
  <header>

  </header>
  <nav class="navbar fontEpilogue">
    <img src="static/img/logo borderless.png" class="img-logo" alt="Logo" />
    <a href="#" onclick="mostrarContenido('inicio')">Inicio</a>
    <a href="#" onclick="mostrarContenido('mapa')">Mapa</a>
    <a href="#" onclick="mostrarContenido('perdidos')">Perdidos Recientemente</a>
    <a href="#" onclick="mostrarContenido('encontraste')">¿Encontraste una Mascota?</a>
  </nav>

  <main class="main positionRelative fontEpilogue">
    <div class="content">
      <section id="inicio">
        <h2>Página de Inicio</h2>
        <p>Aplicar método de reutilización de código HTML por bloques para la navbar y footer.</p>
        <p>
          Somos una organización que Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h3>Testimonios</h3>
      </section>
      <section id="mapa" style="display: none">
        <h2>Mapa</h2>
        <!-- Filtro -->
        <div class="filtro">
          <label for="filtroColor">Color:</label>
          <select id="filtroColor">
            <option value="todos">Todos</option>
            <option value="negro">Negro</option>
            <option value="blanco">Blanco</option>
            <option value="marrón">Marrón</option>
            <option value="naranja">Naranja</option>
            <option value="manchas">Manchas</option>
          </select>
          <label for="filtroRaza">Raza:</label>
          <select id="filtroRaza">
            <option value="todos">Todos</option>
            <option value="labrador">Labrador</option>
            <option value="pastor_aleman">Pastor Alemán</option>
            <option value="siames">Siamés</option>
          </select>
          <label for="filtroEdad">Edad:</label>
          <select id="filtroEdad">
            <option value="todos">Todos</option>
            <option value="cachorro">Cachorro</option>
            <option value="adulto">Adulto</option>
          </select>
          <label for="filtroFecha">Fecha de Desaparición:</label>
          <input type="date" id="filtroFecha" />
        </div>

        <div id="mapa" style="height: 400px"></div>
        <!-- Acá va la api -->
      </section>

      <section id="perdidos" style="display: none">
        <h2>Perdidos Recientemente</h2>
        <p>Una lista de mascotas perdidas recientemente.</p>
        <div class="grillaPerdidos">
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/gatoguerra.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/gatopose.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/perrolol.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/gatoestrella.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/perroanteojos.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/perroflor.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/gatobaño.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/gatohuh.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
          <div class="grillaTarjeta">
            <img class="grillaImagen" src="./static/img/perrochorro.jpeg">
            <div class="grillaInfo">
              <h3>Nombre: </h3>
              <h3>Raza: </h3>
              <h3>Color: </h3>
              <h3>Edad: </h3>
              <h3>Fecha de desaparición: </h3>
            </div>
          </div>
        </div>

      </section>

      <section id="encontraste" style="display: none">
        <h2>¿Encontraste una Mascota?</h2>
        <p>Información sobre qué hacer si encuentras una mascota perdida.</p>
      </section>
    </div>
  </main>

  <footer class="footer fontEpilogue">
    <img class="logoPetTracker" src="./static/img/logo borderless.png">
    <h1>PetTracker</h1>
    <div class="footerInfo"> <!--texto de prueba de chatgpt xd-->
      <p>En PetTracker nos dedicamos a reunir a las mascotas con sus dueños. Creemos en el poder de
        la comunidad y en
        la importancia de actuar rápidamente para encontrar a las mascotas perdidas. Nuestra misión es
        proporcionar
        una plataforma eficaz y accesible donde las personas puedan reportar y buscar a sus mascotas, conectando
        a
        los dueños con aquellos que puedan haber encontrado a sus amigos peludos.</p>
    </div>
    <h1>¡Contáctanos!</h1>
    <div class="footerContacto">
      <h2><i class="bi bi-facebook"></i></h2>
      <h2><i class="bi bi-whatsapp"></i></h2>
      <h2><i class="bi bi-instagram"></i></h2>

    </div>
    <p>
      <a class="footerMail" href="mailto:PetTracker@gmail.com">PetTracker@gmail.com</a> |
      Teléfono: 0800-777-2354
    </p>
  </footer>

  <script src="script.js"></script>
  <!-- Enlace al archivo JavaScript -->
</body>

</html>