{% extends 'base.html' %}

{%block main%}

    <main class="main positionRelative fontEpilogue">
      <div class="content">
        <section >
          <div id="Inicio">
            <h1 class="Box_Grey" id="Buscar">Buscamos a Tu Mascota Perdida</h1>
            <button class="Box_Grey" id="Comenzar_Ya" href="#" onclick="mostrarContenido('perdidos')">Comenzar Ya</button>
          </div>
          <div id="Pasos">
            <h2>Busca a tu Mascota en 3 Simples pasos</h2>
            <img src="/static/img/GatitoGris.png" alt="">
          </div>
            <div id="Contenedor_Pasos">
              <div><p>Paso 1: Inicias una búsqueda en PetTracker</p></div>
              <div><p>Paso 2: Alertamos a toda nuestra comunidad</p></div>
              <div><p>Paso 3: Recibes posibles avistamientos </p></div>
            
          </div>
          <div id="Historias">
            <h2>Historias</h2>
            <div class="contenedor1">
              <div class="slider-contenedor">
                  <section id="Historia_1" class="contenido-slider">
                      <div>
                          <h3>Historia 1</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                              sed. Quos cupiditate id delectus est.</p>
                          <a href="#">Contact us</a>
                      </div>
                      <img src="" alt="">
      
                  </section>
                  <section id="Historia_2"  class="contenido-slider">
                      <div>
                          <h3>Historia 2</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                              sed. Quos cupiditate id delectus est.</p>
                          <a href="#">Contact us</a>
                      </div>
                      <img src="" alt="">
      
                  </section>
              <section id="Historia_3"  class="contenido-slider">
                  <div>
                    <h3>Historia 3</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                          sed. Quos cupiditate id delectus est.</p>
                      <a href="#">Contact us</a>
                  </div>
                  <img src="" alt="">
      
              </section>
              <section id="Historia_4"  class="contenido-slider">
                  <div>
                    <h3>Historia 4</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                          sed. Quos cupiditate id delectus est.</p>
                      <a href="#">Contact us</a>
                  </div>
                  <img src="" alt="">
      
              </section>
          </div>
          </div>
          </div>
          <div id="Preguntas_Frecuentes">
            <h2>Preguntas Frecuentes</h2>
            <div id="Contenedor_Preguntas">
              <ul class="Lista">
                <li>
                  <h3 class="Pregunta">¿Como Funciona PetTracker?
                    <div class="Signo Mas"></div>
                  </h3>
                  <div class="Respuesta">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
                    ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
                    fermentum risus. Phasellus venenatis ultricies dignissim.</div>
                </li>
                <li>
                  <h3 class="Pregunta">¿Cuales son las Posibilidades de encontrar a Mi mascota perdida?
                    <div class="Signo Mas"></div>
                  </h3>
                  <div class="Respuesta">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
                    ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
                    fermentum risus. Phasellus venenatis ultricies dignissim.</div>
                </li>
                <li>
                  <h3 class="Pregunta">¿Cuanto dura la Busqueda?
                    <div class="Signo Mas"></div>
                  </h3>
                  <div class="Respuesta">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
                    ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
                    fermentum risus. Phasellus venenatis ultricies dignissim.</div>
                </li>
                <li>
                  <h3 class="Pregunta">¿Cuanto tiempo se tarda en iniciar la Busqueda</Table>?
                    <div class="Signo Mas"></div>
                  </h3>
                  <div class="Respuesta">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
                    ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
                    fermentum risus. Phasellus venenatis ultricies dignissim.</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section id="mapa" style="display: none">
          <h2>Mapa</h2>
          <!-- Filtro -->
          <div class="filtro">
            <label for="filtroColor">Color:</label>
            <select id="filtroColor">
              <option value="todos">Todos</option>
              <option value="negro">Negro</option>
              <option value="blanco">Blanco</option>
              <option value="marrón">Marrón</option>
              <option value="naranja">Naranja</option>
              <option value="manchas">Manchas</option>
            </select>
            <label for="filtroRaza">Raza:</label>
            <select id="filtroRaza">
              <option value="todos">Todos</option>
              <option value="labrador">Labrador</option>
              <option value="pastor_aleman">Pastor Alemán</option>
              <option value="siames">Siamés</option>
            </select>
            <label for="filtroEdad">Edad:</label>
            <select id="filtroEdad">
              <option value="todos">Todos</option>
              <option value="cachorro">Cachorro</option>
              <option value="adulto">Adulto</option>
            </select>
            <label for="filtroFecha">Fecha de Desaparición:</label>
            <input type="date" id="filtroFecha" />
          </div>

          <div id="mapa" style="height: 400px"></div>
          <!-- Acá va la api -->
        </section>

        <section id="perdidos" style="display: none">
          <h2>Perdidos Recientemente</h2>
          <p>Una lista de mascotas perdidas recientemente.</p>
          <div class="grillaPerdidos">
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatoguerra.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatopose.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perrolol.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatoestrella.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img
                class="grillaImagen"
                src="../static/img/perroanteojos.jpeg"
              />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perroflor.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatobaño.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/gatohuh.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
            <div class="grillaTarjeta">
              <img class="grillaImagen" src="../static/img/perrochorro.jpeg" />
              <div class="grillaInfo">
                <h3>Nombre:</h3>
                <h3>Raza:</h3>
                <h3>Color:</h3>
                <h3>Edad:</h3>
                <h3>Fecha de desaparición:</h3>
              </div>
            </div>
          </div>
        </section>

        <section id="encontraste" style="display: none">
          <h2>¿Encontraste una Mascota?</h2>
          <p>Información sobre qué hacer si encuentras una mascota perdida.</p>
        </section>
      </div>
    </main>

{% endblock %}

