{% extends 'base.html'%}

{%block title%}Mapa{% endblock %}

{% block cssad %}          
<link rel="stylesheet" href="{{ url_for('static', filename="css/map.css") }}">
{% endblock %}

{% block main %}

    <main class="main positionRelative fontEpilogue">
        <section class="content" id="mapa">
            <h2>Mapa</h2>
            <!-- Filtro -->
            <div class="filtro">
            <label for="filtroColor">Color:</label>
            <select id="filtroColor">
                <option value="todos">Todos</option>
                <option value="negro">Negro</option>
                <option value="blanco">Blanco</option>
                <option value="marrón">Marrón</option>
                <option value="naranja">Naranja</option>
                <option value="manchas">Manchas</option>
            </select>
            <label for="filtroRaza">Raza:</label>
            <select id="filtroRaza">
                <option value="todos">Todos</option>
                <option value="labrador">Labrador</option>
                <option value="pastor_aleman">Pastor Alemán</option>
                <option value="siames">Siamés</option>
            </select>
            <label for="filtroEdad">Edad:</label>
            <select id="filtroEdad">
                <option value="todos">Todos</option>
                <option value="cachorro">Cachorro</option>
                <option value="adulto">Adulto</option>
            </select>
            <label for="filtroFecha">Fecha de Desaparición:</label>
            <input type="date" id="filtroFecha" />
            </div>

            <!-- Acá va la api -->
            <!-- Empieza backend -->
            <div id="Mapa"></div>
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
            <!-- Termina backend-->
        </section>
    </main>

{% endblock %}