@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html{
    width: fit-content;
}

.encontraste_mascota_content {
    margin: 3%;
    margin-top: 0%;
    background-color: #aaaaaa;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: "Roboto Slab", serif;
}

h3{
    text-align: center;
    font-family: "Roboto Slab", serif;
    margin-left: auto;
    margin-right: auto;
}

#formulario{
    font-family: "Roboto Slab", sans-serif;
    justify-content: center;
}

#boton-formulario{
    font-family: "Roboto Slab", serif;
    margin-left: 2%;
}
